@font-face{
	font-family: 'roboto';
	src: url('font/Roboto-Light.ttf');
}
@font-face{
	font-family: 'robotoBold';
	src: url('font/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'robotoThin';
	src: url('font/Roboto-Thin.ttf');
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div {
	-webkit-appearance:none;
}
div:focus, div:active {
	outline:none;
}
html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'roboto';
	overflow-x: hidden;
}
#topBar {
	opacity: 0.7;
	font-family: 'robotoBold';
	position:fixed;
   	top:0;
   	left:0;
   	width:100%;
   	height:3em;
  	background-color:#333;
}
#mainContainer {
	top: 3em;
	position:relative;
	width: 100%;
	height: 100%;
	display: block;
	background-color: #fff;
}
.quizContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5); 
	-webkit-transition: all 0.5s;
	left:100%;
    background-color: #fff;
}
 
.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
 
.center {
	width: 100%;
	height: 100%;
	top:48px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
 
.right {
	top:48px;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
 
.transition {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.controls {
	text-indent: 0em;
	border: 1px solid #ddd;
	color: #777;
}
.button {
	width: 50%;
	text-indent: 0em;
	display: inline-block;
	text-align: center;
} .button.submit {

}
.fa.fa-question-circle.fa-2x {
	line-height: 1em;
}
.fa.fa-arrow-right.fa-4x {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color:  transparent; 
	color: #777;
}
.fa.fa-check.fa-4x {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color:  transparent; 
	color: #777;
}
#msgContainer {
	height: 2em;
	margin: 0.5em;
	line-height: 1.5em;
	display: block;
}
.hidden {
	display: none;
}
.quizLink {
	display: inline-block;
	font-family: 'robotoBold';
	/*color:#68A7E3;*/
	color:#90C1F0;
	font-size: 1.1em;
}
#quizContent {
   	text-indent: 1em;
}
.questionNB {
	font-size: 0.8em;
	color: #999999;
}
.question {
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	font-size: 2em;
	color: #555;
}
.quizListItem {
	border-bottom: 1px solid #ddd;
	height: 4em;
}
.quizListItem.flag {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color:  transparent; 
	background-color: #eee;
}
.progress {
 	color:#333;
}
.correctMsg {
	color : #16B84D;
}
.wrongMsg {
	color : #FF4040;
}
.msg {
	font-family: 'robotoBold';
}
.appTitle {
	font-size: 2.1em;
	display: inline-block;
	color:#ffffff;
	line-height: 1em;
	width: 4.5em;

}
.appTitle.list {
	line-height: 1.5em;
	text-indent: 0.4em;
}
.fa.fa-bars.fa-2x.backBtn{
	width: 1em;
	color:#ffffff;
	line-height: 1.5em;
	text-indent: 0.3em;
}
.visible {
	display: inline-block;
}
.recapContainer {
	padding:1em;
}
.recapText {
	font-size: 2em;
	color:#333;
}
.p1{
	/*color:#D3B7DF;*/
	background-color:#D48AD5;
}
.p2{
	/*color:#B7DFD3;*/
	background-color:#AAA9ED;
}
.p3{
	/*color:#BBDFB7;*/
	background-color:#B9E2BA;
}
.p4{
	/*color:#DDDFB7;*/
	background-color:#E7E79F;
}
.p5{
	/*color:#DFB7B7;*/
	background-color:#F79091;
}
.difficulty{
	display: inline-block;
	width: 0.05em;
	padding-right: 1em;
	height: 4em;
	float: left;
}
.quiz {
	padding: 1em 2em;
}
.quizDifficulty {
	width: 100%;
	height: 2em;
}
.quizTitle.p1 {
	background-color: #D48AD5;
}
.quizTitle.p2 {
	background-color: #AAA9ED;
}
.quizTitle.p3 {
	background-color: #B9E2BA;
}
.quizTitle.p4 {
	background-color: #E7E79F;
}
.quizTitle.p5 {
	background-color: #F79091;
}
.quizTitle {
	font-family: 'robotoBold';
	color:#fff;
	/*color:#68A7E3;*/
	font-size: 1.5em;
	padding-left: 0.7em;
	height: 2em;
	line-height: 2em;
}
.proposition {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color:  transparent; 
	padding: 1em 0;
	border-bottom: 1px solid #ddd;
	font-size: 1.2em;
	color: #555;
}
.proposition.selected {
	background-color: #A9CEF1;
	color:#fff;
	font-weight: bold;
}
.proposition.correct {
	background-color: #4BDC7C;
	color:#fff;
	font-weight: bold;
}
.proposition.wrong {
	background-color: #FF7070;
	color:#fff;
	font-weight: bold;
}
.progressContainer {
	height: 2%;
	width: 100%;
	background-color: #eeeeee;
	position: fixed;
	bottom: 0;
	text-indent: 0;
	/*border-bottom: 1px solid #ddd;*/
}
#progress {
	color : #ffffff;
	height: 100%;
	text-indent: 0;
	/*background-color: #ccc;*/
	-webkit-transition: width 200ms linear 200ms;
	-moz-transition: width 200ms linear 200ms;
	-ms-transition: width 200ms linear 200ms;
	-o-transition: width 200ms linear 200ms;
	transition: width 200ms linear 200ms;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C1F6CA), color-stop(100%,#90ECA0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #C1F6CA 0%,#90ECA0 100%); /* Chrome10+,Safari5.1+ */
}
#logo {
	color: #fff;
	height: 3em;
}